---
title: Bora Kyung Min Lee

bio: |
    Hi ! I’m a Seoul-born, LA-based creative producer.
    I specialize in collaborating with multidisciplinary teams of creative directors, designers, 2D/3D/procedural animators, technologists, scenographers, and D3 programmers.
    I work to actualize cohesive and innovative forms of storytelling and audience experience, engaging with creative from conception to completion: ideation, story development, R&D, project management, on-site execution, and cost actualization.
    I collaborate with industry-leading creative and design studios to bring visionary ideas to life. I hold a BFA in scenic design from CalArts. 


links:
    - text: Email
      link: mailto:borakyungmin@gmail.com

    - text: Instagram
      link: https://www.instagram.com/borakyungmin_

    - text: Linkedin
      link: https://www.linkedin.com/in/borakyungminlee/


cv:
    - client: LADY GAGA
      title: "VANISH INTO YOU" ON STEPHEN COLBERT
      year: 2025
      role: CREATIVE PRODUCER
      studio: HUMAN PERSON

    - client: LADY GAGA
      title: MTV VMAS "ABRACADABRA DEAD DANCE"
      year: 2025
      role: CREATIVE PRODUCER
      studio: HUMAN PERSON

    - client: MARIAH CAREY
      title: MTV VMAS VANGUARD AWARD
      year: 2025
      role: CONTENT PRODUCER
      studio: HUMAN PERSON

    - client: THE MARÍAS
      title: "SIENNA" ON JIMMY KIMMEL 
      year: 2025
      role: CREATIVE PRODUCER
      studio: HUMAN PERSON

    - client: SZA
      title: GNX TOUR 
      year: 2025
      role: CONTENT PRODUCER
      studio: HUMAN PERSON

    - client: THE MARÍAS
      title: SUMMER TOUR 
      year: 2025
      role: CREATIVE PRODUCER
      studio: HUMAN PERSON

    - client: SABRINA CARPENTER
      title: SUMMER FESTIVALS 
      year: 2025
      role: CONTENT PRODUCER
      studio: HUMAN PERSON

    - client: WILLOW
      title: COLDPLAY STADIUM TOUR 
      year: 2025
      role: CREATIVE PRODUCER
      studio: HUMAN PERSON

    - client: POST MALONE
      title: BIG ASS STADIUM TOUR 
      year: 2025
      role: CONTENT PRODUCER
      studio: HUMAN PERSON

    - client: POST MALONE
      title: COACHELLA
      year: 2025
      role: CONTENT PRODUCER
      studio: HUMAN PERSON

    - client: THE MARÍAS
      title: COACHELLA
      year: 2025
      role: CREATIVE PRODUCER
      studio: HUMAN PERSON 

    - client: DRAKE
      title: ANITA MAX WIN AU TOUR
      year: 2025
      role: CONTENT PRODUCER
      studio: INDEPENDENT

    - client: THE MARÍAS
      title: “NO ONE NOTICED“ ON JIMMY FALLON
      year: 2025
      role: CREATIVE PRODUCER
      studio: HUMAN PERSON

    - client: MARIAH CAREY
      title: IT’S CHRISTMAS TIME TOUR
      year: 2024
      role: CONTENT DIRECTOR
      studio: HUMAN PERSON

    - client: LADY GAGA
      title: “HARLEYQUINN” AT BELASCO
      year: 2024
      role: LIGHTING DESIGN
      studio: HUMAN PERSON

    - client: MARIAH CAREY
      title: AMERICAN MUSIC AWARDS
      year: 2024
      role: CONTENT PRODUCER
      studio: HUMAN PERSON

    - client: BECKY G
      title: OTRO CAPÍTULO TOUR
      year: 2024
      role: CONTENT PRODUCER
      studio: HUMAN PERSON

    - client: LADY GAGA
      title: “HAPPY MISTAKE” ON JIMMY KIMMEL
      year: 2024
      role: LIGHTING DESIGN
      studio: HUMAN PERSON

    - client: MARIAH CAREY
      title: ROCK IN RIO
      year: 2024
      role: CONTENT PRODUCER
      studio: HUMAN PERSON

    - client: MARIAH CAREY
      title: CELEBRATION OF MIMI
      year: 2024
      role: CONTENT PRODUCER
      studio: HUMAN PERSON

    - client: THE MARÍAS
      title: SUBMARINE TOUR
      year: 2024
      role: CREATIVE PRODUCER
      studio: HUMAN PERSON

    - client: LUCKY DAYE
      title: ALGORITHM TOUR
      year: 2024
      role: CONTENT PRODUCER
      studio: HUMAN PERSON

    - client: ICE SPICE
      title: BET AWARDS
      year: 2024
      role: CONTENT PRODUCER
      studio: HUMAN PERSON

    - client: TAYLOR SWIFT
      title: TORTURED POETS DEPARTMENT, THE ERAS TOUR
      year: 2024
      role: CONTENT PRODUCER
      studio: HUMAN PERSON

    - client: NDA
      title: NDA
      year: 2023
      role: PRODUCER
      studio: SLIENT PARTNERS

    - client: NDA
      title: NDA
      year: 2023
      role: PROJECT MANAGER
      studio: SLIENT PARTNERS

    - client: WIZKID
      title: MORE LOVE, LESS EGO TOUR
      year: 2023
      role: CREATIVE PRODUCER
      studio: HUMAN PERSON

    - client: LA MER
      title: WORLD DERMATOLOGY EXPERIENTIAL
      year: 2023
      role: CREATIVE PRODUCER
      studio: DE-YAN

    - client: YOUTUBE
      title: YOUTUBE BRANDCAST
      year: 2023
      role: CREATIVE PRODUCER
      studio: DE-YAN

    - client: CALVIN HARRIS
      title: COACHELLA
      year: 2023
      role: CONTENT PRODUCER
      studio: HUMAN PERSON

    - client: ROSALIA
      title: COACHELLA
      year: 2023
      role: CONTENT PRODUCER
      studio: FRAMEWORX

    - client: AMAZON PRIME GAMING
      title: CHALLENGERS S5
      year: 2023
      role: GFX PRODUCER
      studio: DAYDREAM

    - client: AMAZON PRIME GAMING
      title: VALORANT // RELOAD
      year: 2022
      role: CREATIVE PRODUCER
      studio: DAYDREAM

    - client: BOSE
      title: CHRSTIAN PULISINIC
      year: 2022
      role: POST PRODUCER
      studio: DAYDREAM

    - client: LEAGUE OF LEGENDS
      title: PUSHA T @ SEMI-FINALS
      year: 2022
      role: CREATIVE PRODUCER
      studio: DAYDREAM

    - client: KENDRICK LAMAR
      title: SNL
      year: 2022
      role: CONTENT PRODUCER
      studio: FRAMEWORX

    - client: THE MARIAS
      title: CINEMA @ THE GREEK THEATER
      year: 2022
      role: CREATIVE PRODUCER
      studio: FRAMEWORX

    - client: PUSHA T
      title: BET AWARDS
      year: 2022
      role: CREATIVE PRODUCER
      studio: FRAMEWORX

    - client: ELADIO CARRION
      title: COLISEO DE PUERTO RICO
      year: 2022
      role: CONTENT PRODUCER
      studio: FRAMEWORX

    - client: DRAKE
      title: OVO FEST
      year: 2022
      role: CREATIVE PRODUCER
      studio: INDEPENDENT

    - client: BAD BUNNY
      title: THE WORLD’S HOTTEST TOUR
      year: 2022
      role: CONTENT PRODUCER
      studio: 99 JACKALS

    - client: ROSALIA
      title: MOTOMAMI TOUR
      year: 2022
      role: CONTENT PRODUCER
      studio: STURDY.

    - client: THE CHAINSMOKERS
      title: DJ VISUALS PACK
      year: 2022
      role: CONTENT PRODUCER
      studio: STURDY.

    - client: JENKINS THE VALET
      title: AZURBALA NFT
      year: 2022
      role: CREATIVE PRODUCER
      studio: STURDY.

    - client: TOKISHA
      title: FESTIVAL VISUALS
      year: 2022
      role: CONTENT PRODUCER
      studio: STURDY.

    - client: BABY KEEM
      title: COACHELLA
      year: 2022
      role: CONTENT PRODUCER
      studio: STURDY.

    - client: KAROL G
      title: COACHELLA
      year: 2022
      role: CONTENT PRODUCER
      studio: STURDY.

    - client: DANIEL CAESAR
      title: COACHELLA
      year: 2022
      role: CONTENT PRODUCER
      studio: STURDY.

    - client: GIVEON
      title: COACHELLA
      year: 2022
      role: CONTENT PRODUCER
      studio: STURDY.

    - client: BAD BUNNY
      title: EL ULTIMO DEL MUNDO TOUR
      year: 2022
      role: CONTENT PRODUCER
      studio: STURDY.

    - client: KALI UCHIS
      title: CALL ME IF YOU GET LOST TOUR
      year: 2022
      role: CONTNET PRODUCER
      studio: STURDY.

    - client: LOLO ZOUAÏ
      title: HIGH HIGHS TO LOW LOWS TOUR
      year: 2022
      role: CONTENT PRODUCER
      studio: STURDY.

    - client: BAD BUNNY
      title: P FKN R
      year: 2021
      role: CONTENT PRODUCER
      studio: STURDY.

    - client: OZUNA
      title: LATIN GRAMMYS AWARDS
      year: 2021
      role: LEAD PRODUCER
      studio: STURDY.

    - client: OZUNA
      title: VMAS AWARDS
      year: 2021
      role: LEAD PRODUCER
      studio: STURDY.

    - client: BABY KEEM
      title: MELODIC BLUE TOUR
      year: 2021
      role: CONTENT PRODUCER
      studio: STURDY.

    - client: POLO G
      title: LATE NIGHT ON JIMMY FALLON
      year: 2021
      role: PROJECT MANAGER
      studio: STURDY.

    - client: KEHLANI
      title: FESTIVAL VISUALS
      year: 2021
      role: PROJECT MANAGER
      studio: STURDY.
    - client: MACHINE GUN KELLY
      title: FESTIVAL VISUALS
      year: 2021
      role: PROJECT MANAGER
      studio: STURDY.

    - client: HBO MAX
      title: THE LADY AND THE DALE
      year: 2020
      role: ANIMATION COORDINATOR
      studio: AWESOME AND MODEST

    - client: HBO MAX
      title: INSECURE S5
      year: 2020
      role: ART DEPT PA
      studio: AWESOME AND MODDEST

    - client: A24
      title: MARCEL THE SHELL WITH SHOES ON
      year: 2019
      role: ART DEPT PA
      studio: INDEPENDENT
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>{{ page.title }}</title>

        <!-- This is the code that Google Fonts gives us to embed -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

        <!-- This is the style sheet that defines the colors, fonts, spacing etc. -->
        <link rel="stylesheet" href="assets/style.css">
    </head>
    <body>

        <div id="background">
            <img src="assets/background.jpg">
        </div>

        <div id="cv">

            <div id="header">
                <p class="slash">/</p>
                <p class="client">CLIENT</p>
                <p class="title">PROJECT</p>
                <p class="year">YEAR</p>
                <p class="role">ROLE</p>
                <p class="studio">STUDIO</p>
            </div>

            {% for project in page.cv %}
            <div class="project">
                <p class="client">{{ project.client }}</p>
                <p class="title">{{ project.title }}</p>
                <p class="year">{{ project.year }}</p>
                <p class="role">{{ project.role }}</p>
                <p class="studio">{{ project.studio }}</p>
            </div>
            {% endfor %}

        </div>


        <div id="bio">
            <div id="text">
                <h1>
                    {{ page.title }}
                </h1>
                <p>
                    {{ page.bio }}
                </p>
            </div>

            <div id="contact">
                <h1>
                    Contact
                </h1>
                <div id="links">
                    {% for link in page.links %}
                    <div class="link">
                        <a href="{{ link.link }}">→ {{ link.text }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- This is the javascript code that makes the infinite scroll backround happen -->
        <script src="assets/background.js"></script>
    </body>
</html>
