---
---

/**
 * RESPONSIVE DESIGN / MOBILE
 *
 * Increase the breakpoint when the site collapses to the mobile view too quickly. 
 * 
 * Decrease the breakpoint if the site does not collapse quickly enough.
 * (Maybe on a friend's phone you notice that they are seeing the desktop view)
 */
@mixin mobile($breakpoint: 960px) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
  overscroll-behavior: none; // Disables OS X overscroll
}

/**
 * Stacking on top of each other from the bottom...
 */
#background { z-index: 1; }
#cv         { z-index: 2; }
#header     { z-index: 3; }
#bio        { z-index: 4; }

/**
 * Layout order: swap the order of cv and bio on mobile.
 */
#cv  { order: 1; @include mobile { order: 2; }}
#bio { order: 2; @include mobile { order: 1; }}

// ▗▄▄▖  ▗▄▖  ▗▄▄▖▗▖ ▗▖ ▗▄▄▖▗▄▄▖  ▗▄▖ ▗▖ ▗▖▗▖  ▗▖▗▄▄▄  
// ▐▌ ▐▌▐▌ ▐▌▐▌   ▐▌▗▞▘▐▌   ▐▌ ▐▌▐▌ ▐▌▐▌ ▐▌▐▛▚▖▐▌▐▌  █ 
// ▐▛▀▚▖▐▛▀▜▌▐▌   ▐▛▚▖ ▐▌▝▜▌▐▛▀▚▖▐▌ ▐▌▐▌ ▐▌▐▌ ▝▜▌▐▌  █ 
// ▐▙▄▞▘▐▌ ▐▌▝▚▄▄▖▐▌ ▐▌▝▚▄▞▘▐▌ ▐▌▝▚▄▞▘▝▚▄▞▘▐▌  ▐▌▐▙▄▄▀ 

#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  img {
    display: block;
    width: 100vw;
    height: auto;

    /**
     * We set the background of the site to black, then set opacity on the background 
     * image to fade it out a bit. It is otherwise difficult to read the text in places 
     * where the background image is very bright.
     *
     * Increase this up to 1.0 to make the background image brighter, 
     * decrease this down to 0 to make the background image darker.
     */
    opacity: 0.8;
  }
}


//  ▗▄▄▖▗▖  ▗▖
// ▐▌   ▐▌  ▐▌
// ▐▌   ▐▌  ▐▌
// ▝▚▄▄▖ ▝▚▞▘ 
                      
#cv {
  position: relative;
  flex-grow: 1;
  z-index: 2;

  font-style: normal;
  font-family: "DM Mono", monospace;
  line-height: 1.2;
  font-weight: lighter;
  font-size: calc(min(1.25vw, 14px));
  margin: 0;
  padding: 0;
  padding-bottom: 1em;

  // Scroll the cv within its panel on desktop, but not on mobile.
  overflow-y: auto; 
  @include mobile { 
    overflow-y: visible; 
  }

  // Layout order: swap the order of cv and bio on mobile.
  order: 1; @include mobile { order: 2; }

  .project {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
  }

  p {
    color: #eeeeee;
    margin: 0;

    /**
     * COLUMN WIDTHS (should add up to 100%)
     */
    &.slash  { width: 100% }
    &.client { width: 20% }
    &.title  { width: 35% }
    &.year   { width: 5% }
    &.role   { width: 20% }
    &.studio { width: 20% }
  }
} 
  

// ▗▖ ▗▖▗▄▄▄▖ ▗▄▖ ▗▄▄▄  ▗▄▄▄▖▗▄▄▖ 
// ▐▌ ▐▌▐▌   ▐▌ ▐▌▐▌  █ ▐▌   ▐▌ ▐▌
// ▐▛▀▜▌▐▛▀▀▘▐▛▀▜▌▐▌  █ ▐▛▀▀▘▐▛▀▚▖
// ▐▌ ▐▌▐▙▄▄▖▐▌ ▐▌▐▙▄▄▀ ▐▙▄▄▖▐▌ ▐▌
                               
#header {
  position: fixed;
  @include mobile {
    position: relative;
  }
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  z-index: 3;

  padding-top: 1em;
  padding-left: 1em;
  box-shadow: 0 0 1em 0 black;
  background-color: rgba(0, 0, 0, 0.5 /* opacity */);
  font-weight: bold;
  width: 100%;

  // The first project that follows the header...
  + .project {
    padding-top: 4em; // Includes the header!
    @include mobile { 
      padding-top: 0.5em;
    }
  }
}


// ▗▄▄▖ ▗▄▄▄▖ ▗▄▖ 
// ▐▌ ▐▌  █  ▐▌ ▐▌
// ▐▛▀▚▖  █  ▐▌ ▐▌
// ▐▙▄▞▘▗▄█▄▖▝▚▄▞▘
               
#bio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 4;

  // Layout order: swap the order of cv and bio on mobile.
  order: 2; @include mobile { order: 1; }

  font-family: "Familjen Grotesk", sans-serif;

  box-shadow: 0 0 2vh 0 black;
  @include mobile {
    box-shadow: 0 0 1vh 0 black;
  }

  color: #eeeeee;
  background-color: rgba(0, 0, 0, 0.9);

  border-top: 1px solid rgba(80, 80, 80, 0.4);
  border-bottom: none;
  @include mobile {
    border-top: none;
    border-bottom: 1px solid rgba(80, 80, 80, 0.4);
  }

  h1 {
    color: #eeeeee;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 0 20px;
    margin: 0;
  }

  #text {
    padding: 1em;
    width: 70%;
    max-width: 960px; // Prevents the text paragraph from getting verrry wide
    margin: 0;
    box-sizing: border-box;

    @include mobile {
      width: 100%;
      max-width: 100%;
    }

    p {
      color: #eeeeee;
      font-size: 14px;
      margin: 0;
    }
  }

  #contact {
    padding: 20px;
    margin: 0;
    box-sizing: border-box;

    #links {
      .link {
        a {
          color: #eeeeee;
          font-size: 14px;
          text-decoration-line: none;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
      }
    }
  }
}
